// Place all the styles related to the voter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-container{
  position: absolute;
  top: 15%;
  left: 0%;
  right: 0%;
}
.vote-button{
  border: 2px solid green;
  padding: 5px;
  text-decoration: none;
  border-radius: 5px;
  color: darkgreen;
  background-color: lime;
}
.voting-cards{
  text-align: center;
  border-radius: 5px;
  margin-left: 15px;
  border: 1px solid #ccc;
  background-color: HoneyDew;
}
@media (min-width:480px){
  .voting-cards{
    margin-bottom: 15px;
  }
}

@media (min-width: 300px) and (max-width: 501px){
  .form-div{
    margin: 0px 5%;
  }
}
